@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  @apply hover:bg-blue-100 w-full text-center rounded-md p-1;
}

.sedan-sc-regular {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}
